$c-black: black;
$c-white: white;
$c-green: #00b96b;
$c-green-dm: #006f40;
$c-red: red;
$c-white-2: #d4d4d4;

@import './layouts/header/header.scss';
@import '../presentation/todolist/components/taskList.scss';
@import './style/antDesignOverride/form.scss';