*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: 'Montserrat', 'sans-serif';
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// HomeWhenUserIsLoggedIn
.is-done {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: green;
}

.is-not-done {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: red;
}