*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: 'Montserrat', 'sans-serif';
}
